@model Controller_View.Models.Users
@{
    ViewBag.Title = "TruyenDoiTuong";
}

<h2>TruyenDoiTuong</h2>
@{ Html.BeginForm("NhanDL", "GiaiBaiToan"); }
@Html.LabelFor(n => n.Id)
@Html.EditorFor(m => m.Id)
<br />
@Html.LabelFor(n => n.Name)
@Html.TextBoxFor(m => m.Name)
<br />
@Html.LabelFor(n => n.Address)
@Html.TextAreaFor(m => m.Address)
<br />
@Html.LabelFor(n => n.Email)
@Html.EditorFor(m => m.Email)
<br />
@Html.LabelFor(n => n.Gender)
@*@Html.CheckBoxFor(m => m.Gender)*@

@*Nam @Html.RadioButtonFor(m=>m.Gender, true)
    Nu @Html.RadioButtonFor(m=>m.Gender, false)*@

@Html.EditorFor(m => m.Gender)

<br />
<br />
@Html.LabelFor(n => n.Password)
@Html.PasswordFor(m => m.Password)
<br />
<input type="submit" value="submit" />
@{ Html.EndForm();}
@{ @*var user = ViewBag.user as Controller_view.Models.Users;*@}
@*@{ var user = Model; }*@
@*<p>@user.Id</p>
    <p>@user.Name</p>
    <p>@user.Address</p>
    <p>@user.Email</p>
    <p>@user.Gender</p>
    <p>@user.PassWord</p>*@

