@model IEnumerable<BTVN_Tuan4.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <br />
    @Html.ActionLink("Tìm kiếm nhân viên nữ", "FindGirl")
    <br />
    @Html.ActionLink("Tính tổng lương của các nhân viên của 1 phòng với tên phòng nhập vào textbox", "TotalSalary")
    <br />
    @Html.ActionLink("Tìm kiếm và hiển thị nhân viên của một 1 phòng với tên phòng nhập vào textbox", "FindByDepartment")


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenPhong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HSL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenPhong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.maNV }) |
            @Html.ActionLink("Details", "Details", new { id = item.maNV }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.maNV })
        </td>
    </tr>
}

</table>
