@model _42_LTUDDN_TranQuangQuang_21103100304_DHTI15A5HN.Models.LichHen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LichHen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayHen_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHen_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacSi_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacSi_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDo_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDo_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenhNhan.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenhNhan.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
