@model IEnumerable<Tuan7_TranQuangQuan_21103100304.Models.Diem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiemTBM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiemTBM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSV, id2 = item.MaSV }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSV, id2 = item.MaSV }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSV, id2 = item.MaSV })
        </td>
    </tr>
}

</table>
